/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~bootstrap/dist/css/bootstrap.css';


body {
    font-family: 'Roboto';
    margin: 0px;
    white-space: nowrap;
    overflow-x: hidden;
  }
  