header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000; 
  color: #53d633;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #333022;
}

a:hover {
  background-color:   rgb(104, 68, 68);
  color: #80ad98;
}


  footer {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 6px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
  }
  
  .container {
    max-width: 1200px;
    margin-right: 0;
  }
  